doctype html
html
  head
    title css-utils demos
    link(rel='stylesheet', type='text/css', href='../css/css-utils.css')
    link(rel='stylesheet', type='text/css', href='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    script(type='text/javascript', src='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')

  body
    .container.margin-top
      .row.margin-bottom
        .col-sm-offset-3.col-sm-3
          a.btn.btn-block.btn-demo1(href='#')
            span.glyphicon.glyphicon-ok
            | demo 1
        .col-sm-3
          a.btn.btn-block.btn-demo2(href='#')
            span.glyphicon.glyphicon-ok
            | demo 2
      .row.margin-bottom
        .col-sm-offset-3.col-sm-3
          a.btn.btn-block.btn-demo3(href='#')
            span.glyphicon.glyphicon-ok
            | demo 3
        .col-sm-3
          a.btn.btn-block.btn-demo4(href='#')
            span.glyphicon.glyphicon-ok
            | demo 4
      .row.margin-bottom
        .col-sm-offset-3.col-sm-3
          a.btn.btn-block.btn-demo5(href='#')
            span.glyphicon.glyphicon-ok
            | demo 5
        .col-sm-3
          a.btn.btn-block.btn-demo6(href='#')
            span.glyphicon.glyphicon-ok
            | demo 6
      .row.margin-bottom
        .col-sm-offset-3.col-sm-3
          a.btn.btn-block.btn-demo7(href='#')
            span.glyphicon.glyphicon-ok
            | demo 7

        .col-sm-3
          a.btn.btn-block.btn-demo8(href='#')
            span.glyphicon.glyphicon-ok
            | demo 8
      .row.margin-bottom
        .col-sm-offset-3.col-sm-3
          a.btn.btn-block.btn-demo9(href='#')
            span.glyphicon.glyphicon-ok
            | demo 9

        .col-sm-3
          a.btn.btn-block.btn-demo10(href='#')
            span.glyphicon.glyphicon-ok
            | demo 10
